#dataContent {
    display: flex;
    position: relative;
    width: 350px;

    flex-wrap: wrap;
}

.dayButton {
    position: relative;
    width: 50px;
    height: 36px;
    background-color: white;

    text-align: center;
    line-height: 36px;

    cursor: pointer;
}

.dayButton:hover {
    background-color: #e6e6e6;
}

.dayButton:active {
    background-color: #006edc;
}

.dayButton.select {
    background-color: #006edc;
    color: black !important;
}

.dayButton.toDay {
    background-color: #ffff76;
}

.dayButton.notMoth {
    background-color: white !important;
    color: #757575;
    cursor: default;
}

.dayButton.notMoth:hover:after {
    content: ' ';
    position: absolute;
    bottom: -2px;
    right: -2px;
    width: 20px;
    height: 20px;

    background-image: url("/images/prohibition.png");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    z-index: 1;
}

.dayButton.notMoth2 {
    color: #757575;
    cursor: default;
}